* {
margin: 0;
padding: 0;
}
.nav{
  display: block;
  text-align: center;
  width:120px;
  background:grey  ;
  transition: background-color .25s,color .15s,box-shadow .15s,opacity
  .25s,filter .25s,border .15s;
  font-family: "Montserrat", sans-serif;
  font-size:12px;
  font-style: oblique;
  position: fixed;
color:white;
}
.home-ico{

  content:url(img/house.png);
}
.me-ico{
  content: url(img/about.png);
}
.game-ico{
  content:url(img/game.png);
}
.contact-ico{
  content:url(img/envelope.png);
}

body{
  background: url(img/ejean_logostill.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;




}
